@import url('https://fonts.cdnfonts.com/css/reklame-script');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Suez+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    width: 100%; 
    overflow-x: hidden; /* Supprime les barres de défilement horizontales si besoin */
    background-color: #F6F4F0;
}

#carre-rouge  {
    position: absolute;
    top: -5px;
    height: 55px;
    width: 229px;
    left: 120px;
    border-radius: 5px;
}


.SPN {
    position: absolute;
    color: #F6F4F0;
    z-index: 10;
    font-family: 'Reklame Script Regular DEMO', sans-serif;
    font-size: 35px;
    top: 3px;
    left: 130px;
}

.logo {
    position: relative;
    font-size: 25px;
    right: 60px;
    margin-top: -50x;
    z-index: 999;
}



.nav-bar {
    position: absolute;
    left: 73%;
    top: 0px;
    display: flex;
    background-color: white;
    height: 50px; 
    width: 452px; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
    overflow: hidden; /* Pour pas deborder de la nav-bar */
}

.nav-item {
    flex: 1; /* Pour rendre le nav-item de la meme larges */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-item.active {
    background-color: red;
    color: white;
}

.nav-item:hover{
    background-color: rgb(190, 177, 177);
    color: #d32f2f;
}


.Search {
    width: 100%;
    height: 500px;
    top: 23px;
    background-image: url('../img/fond-rouge.png');
    background-size: cover;
    position: relative;

}

.Search h1 {
    position: relative;
    margin: 0%;
    font-family: "Suez One", serif;
    font-size: 65px;
    color: #272443;
    top: 110px;
    left: 150px;


}

.Search input {
    position: relative;
    background-color: white;
    height: 50px;
    width: 350px;
    left: 155px;
    top: 150px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Search button {
    position: relative;
    height: 50px;
    width: 110px;
    left: 155px;
    top: 150px;
    text-align: center;
    background-color: red; 
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.Search button:hover {
    color: rgb(255, 255, 255);
    background-color: #4e99e9;
}
  

.Liste-jeux {
    background-color: #F6F4F0;
    font-family: "Suez One", serif;
    color: #272443;
    text-align: center;
    padding: 20px;
}

.p-jeux {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    color: black;
}

.h-jeux {
    text-align: center;
    font-size: 60px;
}

.jeux {
    position: relative;
    display: flex; 
    justify-content: space-evenly; /* Espacement égal entre les éléments */
    align-items: center; 
    left: 75px;
    gap: 35px; 
    margin-top: 20px;
}

.jeu {
    text-align: center; 
    font-size: 18px;
    color: dimgray;
}

.jeu img {
    width: 300px; 
    height: 300px;
    object-fit: cover; /* Ajuste l'image pour remplir le cadre */
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; /* Animation au survol */
}

.jeu img:hover {
    transform: scale(1.05); 
}

.fleche img {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 265px;
    top: 150px;
}

#p2 {
    position: relative;
    bottom: 200px;
}

.red {
    background-image: url('../img/dragon.png');
    background-size: cover;
    position: relative;
    background-position: center; 
    background-attachment: fixed; 
    width: 100%;
    height: 550px; 
}

.red img {
    position: absolute;
    width: 1500px;
    height: 1000px;
    left: 38%;
    top: -28%;
}    


.blue {
    background-image: url('../img/etoile.png');
    background-size: cover;
    position: relative;
    width: 100%;
    height: 350px;
}


.form-contact {
    position: absolute;
    top: 145%;
    left: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 450px;
    height: 500px;
    text-align: center;

}

.form-contact h2 {
    font-family: "Rethink Sans", serif;
    color: #272443;
    margin-bottom: 10px;
}

.form-contact p {
    color: #7a7a7a;
    font-size: 14px;
    margin-bottom: 20px;
}

.form-contact input,
.form-contact textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    resize: none; /* Désactive la redimension */
    overflow: auto;
}

.form-contact button {
    background-color: #2b2b2b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-contact button:hover {
    background-color: #444444;
}

.fin-page {
    display: flex;
}

.fin-page img {
    position: relative;
    width: 150px;
    height: 80px;
    border-radius: 5px;
    left: 855px;
}

.fin-page h1 {
    position: relative;
    color: white;
    font-family: 'Reklame Script Regular DEMO', sans-serif;
    font-size: 30px;
    text-align: center;
    left: 718px;

}

#t-h2 {
    position: absolute;
    font-size: 35px;
    font-family: "Rethink Sans", serif;
    top: 250%;
    left: 40%;
}

.ligne {
    position: absolute;
    border: none;        
    height: 1px;           
    background-color: black; 
    width: 80%;
    top: 255%;
    left: 10%;
}

.fin-contact {
    position: relative;
    top: 180px;
}

.fin-contact h3 {
    font-size: 25px;
    font-family: "Rethink Sans", serif;
}

.fin-contact p {
    color: grey;
}


.fin-navigation {
    position: relative;
    top: 165px;
    left: 370px;
}

.fin-navigation h3 {
    font-size: 25px;
    font-family: "Rethink Sans", serif;
}

.fin-navigation p {
    color: grey;
}

.fin-retrouvez {
    position: relative;
    top: 185px;
    left: 670px;
}

.fin-retrouvez {
    font-size: 20px;
    font-family: "Rethink Sans", serif;
}

.fin-retrouvez p {
    color: grey;
}